body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.header_section {
    max-width: 1920px;
    max-height: 130px;
    background-color: #fff;
}

.navbar {
    max-width: 1440px;
    height: 56px;
    margin: 0 auto;
    margin-top: 1%;
}
.logo {
    display: flex;
    float: left;
}
.menu{
    float: right;
}
.menu ul {
    list-style-type: none;
    padding-top: 0px;
    margin-top: 0px;
}
.menu ul li{
    margin-bottom: 8px;
    float: left;
    padding: 10px;
}